/* General */

body {
  margin: 0;
  padding: 0;
  color: #2a3a3f;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navbar */

nav {
  background-color: #397fda;
  color: white;
  padding: 2px;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;

  span {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
  }
}

/* Layout */

.layout,
.main {
  padding-top: 54px;
}

.blog-container {
}

/* Home */
.home-title {
  text-align: center;
  position: absolute;
  top: 250px;
  transform: translateY(-50%);
  width: 100%;

  span {
    color: #236dba;
  }
}

.home {
  background-color: white;
}

.about-me {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

/* Blog entry */

.blog p {
  font-size: 13px;
  line-height: 1.9;
  margin: 10px 0 20px;
}

.blog h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Blogs page */

.more-link {
  display: none;
}

.blogs {
  margin-top: 10px;
}

.blog-square {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 600px;

  h2 {
    margin-bottom: 10px;
  }

  .bottom-separator {
    margin-top: 50px;
    position: relative;
  }

  .separator-circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: -50%;
    transform: translateY(-50%);
  }

  hr {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  p {
    color: #444;
    font-size: 15px;
    line-height: 1.8;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  .read-more {
    color: white;
    background-color: #397fda;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
  }
}

/* Blog Entry */

.blog-entry {
  font-family: "Catamaran", sans-serif;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: solid 3px #397fda;
    background-color: rgba(57, 127, 218, 0.35);
    padding: 0 10px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
  }

  a:hover {
    background-color: rgba(57, 127, 218, 0.7);
  }

  p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
  }

  h1 {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-size: 42px;
    margin-left: -2.63px;
    line-height: 1.04;
    letter-spacing: -0.015em;
    padding-top: 5px !important;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.84);
  }

  h2 {
    margin-top: 56px;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-size: 34px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600;
  }
}

/* About */

.about-image {
  background-image: url("https://blog.321theagency.com/wp-content/uploads/2018/07/IMG_1768_edit.jpg");
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.about-name {
  position: sticky;
  width: 50px;
  height: 50px;
  width: 50%;
  padding-top: 50px;
  top: 0vh;
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center;

  h1 {
    color: #000;
  }

  h1 {
    margin: 0;
  }
}

.about-bio {
  width: 50%;
  top: 50%;
  right: 0;
  margin: 50px;

  p {
    line-height: 1.8;
  }
}

/* About background */

.about-bg {
  position: relative;
}

.about-circle {
  height: 200px;
  width: 200px;
  background-color: #397fda;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: circleMove 20s infinite;
}

@keyframes circleMove {
  0% {
    top: 0;
  }

  50% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Dark mode */

.dark {
  background-color: #222;
  color: white;
}

/* General */

.lead {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.4;
  margin-top: 0;
}

@import "legacy";

@import "hero";

@import "home";

@import "stack";

@import "projects";

@import "skills";
